/* 
  Author joey@tech-center.com (Joey Cadieux)
  ----------------------------------
  Geeks UI Css Framework
  Light Css Components Library For Developers 
 */

:root {
	--geeks_ui-color: white;
	--geeks_ui-base: lightslategray;
	--geeks_ui-info: darkblue;
	--geeks_ui-secondary: gray;
	--geeks_ui-warning: firebrick;
	--geeks_ui-primary: DodgerBlue;
	--geeks_ui-text-color: white;
	--geeks_ui-margin-bottom: 15px;
	--geeks_ui-padding: 20px;
}

alert __alert base {
	color: var(--geeks_ui-base);
	padding: var(--geeks_ui-padding);
	background-color: var(--geeks_ui-base);
	color: var(--geeks_ui-text-color);
	margin-bottom: var(--geeks_ui-margin-bottom);
}

alert __alert secondary {
	color: var(--geeks_ui-secondary);
	padding: var(--geeks_ui-padding);
	background-color: var(--geeks_ui-base);
	color: var(--geeks_ui-text-color);
	margin-bottom: var(--geeks_ui-margin-bottom);
}

alert __alert info {
	color: var(--geeks_ui-info);
	padding: var(--geeks_ui-padding);
	background-color: var(--geeks_ui-base);
	color: var(--geeks_ui-text-color);
	margin-bottom: var(--geeks_ui-margin-bottom);
}

alert __alert primary {
	color: var(--geeks_ui-primary);
	padding: var(--geeks_ui-padding);
	background-color: var(--geeks_ui-base);
	color: var(--geeks_ui-text-color);
	margin-bottom: var(--geeks_ui-margin-bottom);
}

alert __alert warning {
	color: var(--geeks_ui-warning);
	padding: var(--geeks_ui-padding);
	background-color: var(--geeks_ui-base);
	color: var(--geeks_ui-text-color);
	margin-bottom: var(--geeks_ui-margin-bottom);
}
